<%- include("partials/header.ejs") %>

   <% if (locals.here_name) { %>
      <h1> <%= here_name %> </h1>
      <% } %>
   <% if (locals.here_email) { %>
      <h2> <%= here_email %> </h2>
      <% } %>
   <% if (locals.here_blog) { %>
      <p> <%= here_blog %> </p>
      <% } %>
    







<%- include("partials/footer.ejs") %>